NODE_ENV = development
PORT = 3000
DB = mongodb://127.0.0.1:27017/ApiServer

JWT_SECRET = my-ultra-secure-and-ultra-long-secret
JWT_EXPIRES_IN =  90d
JWT_COOKIE_EXPIRES_IN = 90

EMAIL_PORT = 587
EMAIL_HOST = 
EMAIL_USERNAME = 
EMAIL_FROM = 
EMAIL_PASSWORD = 